<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
        <key>category</key>
        <string>News</string>
        <key>description</key>
        <string>网易新闻</string>
        <key>title</key>
        <string>NetEase News</string>
        <key>link</key>
        <string>http://news.163.com/special/00011K6L/rss_newstop.xml</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Technology</string>
		<key>description</key>
		<string>V2EX 是一个关于分享和探索的地方</string>
		<key>title</key>
		<string>V2EX</string>
		<key>link</key>
		<string>https://www.v2ex.com/index.xml</string>
	</dict>
</array>
</plist>
